[Unit]
Description=Hyperspectral Imaging Control System: Frame converter
After=redis-server.service

[Service]
User=fasnachtl
Environment=PYTHONPATH=/home/fasnachtl/git/hics
ExecStart=/usr/bin/python3 -m hics.daemon.frameconverter
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
