[Unit]
Description=Hyperspectral Imaging Control System: Specim SWIR framegrabber
After=hics-specim-capture.service redis-server.service

[Service]
User=fasnachtl
Environment=PYTHONPATH=/home/fasnachtl/git/hics
ExecStart=/usr/bin/python3 -m hics.hardware.specimswir.framegrabber
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
